.slider-box {
  position: absolute;
  bottom: 0px;
  left: 1%;
  width: 20vw;
}

.live-button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: none;
  color: #606060;
  box-shadow: 0 0 2px white;
  height: 100%;
  margin: 0.5rem 0rem;
  padding: 4px 8px;
  width: 50px;
  transition: 0.2s ease all;
}

.isLive {
  color: limegreen;
  box-shadow: 0 0 6px limegreen;
  font-weight: bold;
  transition: 0.2s ease all;
}
