.sidebar {
    background-color: black;
    border-radius: 12px;
    position: absolute;
    box-shadow: 0px -1px 8px gray;
    top: 50%;
    transform: translate(10px, -50%);
    z-index: 9999;
    transition: 0.3s ease-in-out transform;
  }
  
  .sidebar-close {
    transition: 0.3s ease-in-out transform;
    transform: translate(-100%,-50%);
  }
  
  .sidebar-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-shadow: 0px -1px 8px gray;
    clip-path: inset(-10px -10px -10px 0);
    background-color: black;
    width: 2.5vw;
    left: 100%;
    aspect-ratio: 1/1;
    border-start-end-radius: 20rem;
    border-end-end-radius: 20rem;
    top: 20%;
  }
  
  .sidebar-element {
      display: block;
      overflow: hidden;
  }
  
  .sidemenu-icon {
      height: 2vw;
  }