.sidebar {
    background-color: black;
    border-radius: 12px;
    position: absolute;
    border: solid 2px #303030;
    top: 50%;
    transform: translate(10px, -50%);
    transition: 0.3s ease-in-out transform;
    z-index: 1;
  }
  
  .sidebar-close {
    transition: 0.3s ease-in-out transform;
    transform: translate(-100%,-50%);
  }
  
  .sidebar-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: solid 2px #303030;
    background-color: black;
    clip-path: inset(0 0 0 6px);
    left: 97.5%;
    aspect-ratio: 1/1;
    border-start-end-radius: 20rem;
    border-end-end-radius: 20rem;
    padding: 5px;
    top: 5%;
  }
  
  .sidebar-element {
      display: block;
      overflow: hidden;
  }
  
  .sidemenu-icon {
      height: 2vw;
  }

  /* Remove spinner arrows from number inputs */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  
  input[type="number"] {
      -moz-appearance: textfield;
      appearance: textfield;
  }
