.header {
    background: none;
    display: flex;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    font-size: 2.4rem;
    padding: 18px 0 0 0;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-indicator {
    display: flex;
    align-items: center;
    gap: 20px;  
    font-family: 'Lekton';
    font-size: 1rem;
    color: #666;
    transform: translate(-1ch,0%);
}

.time-indicator span {
    width: 16ch;
    text-align: right;
}

@media (max-width: 900px)  {
    .header {
        font-size: 2rem;
        gap: 10px;
    }
    .time-indicator {
        font-size: 0.8rem;
    }
}

@media (max-height: 700px) {
    .header {
        font-size: 1.6rem;
        gap: 6px;
    }
    .time-indicator {
        font-size: 0.6rem;
    }
}
