* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Gruppo;
  letter-spacing: 2px;
  font-size: 18px;
  color: white;
  /* background-color: #121212; */
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
