.footer {
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    justify-content: center;
}

@media (max-width: 700px), (max-height: 700px) {
    .footer {
        font-size: 0.6rem;
    }
}
