name: Lint Check

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
 lint:
   runs-on: ubuntu-latest
   
   steps:
   - name: Checkout Code
     uses: actions/checkout@v3
   - name: Setup Node
     uses: actions/setup-node@v3
     with:
       node-version: '18'
   - name: Install dependencies
     run: npm ci
   - name: Run ESLint
     run: npm run lint 
   
